{% extends 'layout.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="row">
        <div class="col-lg-6 offset-3">
            <div class="card">
                <div class="card-header">
                    {{ request.title }}
                </div>
                <div class="card-body">
                    <form method="post" action="{% block url %}{% endblock %}">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <button type="submit" class="btn btn-secondary">{% block button_title %}Saqlash{% endblock %}</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
