{% extends 'layout.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="auth-page">
        <div class="auth-card">
            <div class="auth-header">
                {{ request.title }}
            </div>
            <div class="auth-body">
                <form method="post" enctype="multipart/form-data" action="{% block url %}{% endblock %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn auth-btn">{% block button_title %}Saqlash{% endblock %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
