{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ request.title|default:"PyFull" }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}" />

    {% block style %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white modern-navbar mb-4">
        <div class="container">
           <a class="navbar-brand brand-title" href="{% url 'main:index' %}">Muhammad Al-xorazmiy nomidagi <br> Toshkent axborot texnologiyalari universiteti</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#id_main_menu">
            <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="id_main_menu">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link p-0 nav-user" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if user.image %}
                                <img src="{{ user.image.url }}" alt="{{ user.username }}" class="avatar-photo">
                            {% else %}
                                <span class="avatar-circle" title="{{ user.username }}">{{ user.username|first|upper }}</span>
                            {% endif %}
                            <span class="nav-user-meta">
                                <span class="nav-user-name">{{ user.first_name|default:user.username }} {{ user.last_name }}</span>
                                <span class="nav-user-group">{{ user.group_name|default:"Guruh kiritilmagan" }}</span>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right modern-dropdown" aria-labelledby="userMenu">
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'user:info' %}">
                                <i class="bi bi-person mr-2"></i>
                                <span>Profil</span>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'user:logout' %}">
                                <i class="bi bi-box-arrow-right mr-2"></i>
                                <span>Chiqish</span>
                            </a>
                        </div>
                    </li>
                    {% else %}
                     <li class="nav-item {% if url_name == 'user:registration' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'user:registration' %}">Ro'yxatdan o'tish</a>
                    </li>
                    <li class="nav-item {% if url_name == 'user:login' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'user:login' %}">Tizimga kirish</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert modern-message alert-dismissible fade show" role="alert">
                    <span class="message-icon"><i class="bi bi-info-circle"></i></span>
                    <span class="message-text">{{ message }}</span>
                    <button type="button" class="close message-close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}

       {% block content %}{% endblock %}
    </div>

    <script src="{% static 'vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'main/main.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>
